---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`Blog | ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Blog</h1>
			{
				posts.length === 0 ? (
					<p>Posts are coming soon. I’m preparing the first series now.</p>
				) : (
					<ul>
						{posts.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>{post.data.title}</a>
								<div>
									<FormattedDate date={post.data.pubDate} />
								</div>
							</li>
						))}
					</ul>
				)
			}
		</main>
		<Footer />
	</body>
</html>
